@import 'bootstrap';
@import 'style';
@import 'animate';
@import 'font-awesome';

@import url(https://fonts.googleapis.com/css?family=Muli:400,300italic,300,400italic|Playfair+Display:400,700,900,400italic,700italic,900italic);


h1, h2, h3, h4, h5, h6{
font-family: 'Muli', sans-serif !important;
}

body {
  font-family: 'Playfair Display', serif !important;
    padding-top: 65px;
    padding-left: 20px;
}


nav{
  font-family: 'Muli', sans-serif !important;

}
