// Place all the styles related to the households controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div#map {
position: absolute;
top: 20em;
bottom: 5em;
width: 50%;
}
