<h1>Find a dataset</h1>

<p>Enter or scan your unique hash</p>
<%= form_tag households_find_path do %>
 <%= text_field_tag :code %>
 <%# f.input :cashed, as: :boolean, checked_value: true, unchecked_value: false %>
 <%=submit_tag("find", :class => "btn btn-sm btn-primary" ) %>
<% end %>
<div class="container">
<div id="map">
</div>
</div>

<script type="text/javascript">
// Provide your access token
L.mapbox.accessToken = 'pk.eyJ1IjoiZmxvYXRiZWlqaW5nIiwiYSI6ImloUEE0SHcifQ.nthI_BVVeBsrxqMcirojAA';
// Create a map in the div #map
L.mapbox.map('map', 'floatbeijing.nmahf1g5')
</script>
